<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=object.itemName%></title>
  </head>
  <body>
    <h1><%=object.itemName%></h1>
    <p><%=object.category.name%></p>
    <p>₹<%=object.price%></p>
    <a href="/products/<%= id %>/edit">Edit Product</a>
  </body>
</html>
