<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products/<%= id %>?_method=PATCH" method="POST">
      <label for="item-name">Item Name:</label>
      <input
        id="item-name"
        name="itemName"
        type="text"
        value="<%= data.itemName %>"
      />
      <label for="category">Category:</label>
      <select id="category" name="category">
        <% categories.forEach(category => { %>
          <option value="<%= category.name %>" <%= data.name === category.name ? 'selected' : '' %>><%= category.name %></option>
        <% }); %>
      </select>
      <label for="price">Price:</label>
      <input id="price" name="price" type="number" value="<%= data.price %>" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
